<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.dabogo.mapper.MemberMapper">
	<!-- 회원정보 추가  -->
	<insert id="insertMember" parameterType="com.sp.dabogo.domain.Member">
		INSERT INTO member (userId, userName, userPwd, email, tel, birth, enabled,  failure_cnt, register_date, modify_date)
		VALUES (#{userId}, #{userName}, #{userPwd}, #{email}, #{tel}, #{birth}, 1, 0, now(), now())
	</insert>

	<!-- 회원 정보 가져오기 -->
	<select id="findById" parameterType="String" resultType="com.sp.dabogo.domain.Member">
		SELECT userId, userName, userPwd, 
			register_date, modify_date, last_login,
			ifnull(enabled, 0) enabled, email, tel, 
			DATE_FORMAT(birth, '%Y%m%d') birth, failure_cnt
		FROM member
		WHERE userId = #{userId} 
	</select>

	<!-- 회원정보 수정  -->    
	<update id="updateMember" parameterType="com.sp.dabogo.domain.Member">
		UPDATE member SET userPwd=#{userPwd}, 
			email=#{email}, tel=#{tel}, birth=#{birth},
			modify_date=now() 
		WHERE userId=#{userId}
	</update>

	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET last_login=now() 
		WHERE userId=#{userId}
	</update>
    
	<!-- 회원 정보 삭제  -->    
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE userId=#{userId}
	</delete>

	<!-- 어쏘러티(권한) 테이블 -->    
	<insert id="insertAuthority" parameterType="com.sp.dabogo.domain.Member">
		INSERT INTO memberAuthority(userId, authority)
		VALUES (#{userId}, #{authority})
	</insert>
     
	<select id="listAuthority" parameterType="String" resultType="String">
		SELECT authority
		FROM memberAuthority
		WHERE userId=#{userId}
	</select>
	
	<update id="updateAuthority" parameterType="com.sp.dabogo.domain.Member">
		UPDATE memberAuthority SET authority=#{authority}
		WHERE userId=#{userId} AND authority=#{oldAuthority}
	</update>
</mapper>