<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout3}">

<th:block layout:fragment="content">
	<div class="body-container">
		<div class="body-title">
			<h3><i class="fas fa-chalkboard"></i> 로그인 </h3>
		</div>
		<div class="body-main">
				<table>
					<form name="loginForm" method="Post" th:action="@{/member/login}">
						
					
						<tr>
							<td>아이디</td>
							<td><input type="text" name="userId" placeholder="아이디" value=""></td>
						</tr>
						<tr>
							<td>비밀번호</td>
							<td><input type="password" name="password" placeholder="비밀번호" value=""></td>
						</tr>
						<tr>
							<td>
								<button type="submit">로그인하기</button>
							</td>
							<td>
								<button type="button" th:onclick="href.location='@{/member/member}'">가입하기</button>
							</td>
						</tr>
					</form>

				</table>
		</div>
	</div>
</th:block>

</html>